/****************************************************************************************
 * @filename      : lwcUfwContainerQa.css
 * @author        : I2MAX
 * @date          : 2021-02-19
 * @group         :
 * @group-content :
 * @description   :
 * @tester        :
 * @reference     :
 * @release       : v1.0.0
 * @copyright     : Copyright © I2max. All Rights Reserved.
 * @modification Log
 * ===============================================================
 * ver     date            author        description
 * ===============================================================
   0.1     2021-02-19      I2MAX          Create
 ****************************************************************************************/
.modal-hidden {
    display: none;
}

:host .slds-modal__container {
    width: 90%;
}

:host .slds-backdrop_open {
    opacity: 0.5;
}

.contentSection {
    max-height  : 60vh !important;
    height      : unset !important;
    overflow-y  : auto;
}